<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Your Account created successfully in KPN resource portal</h3>
    <br>
    <p>Please find your credentials in the Attachement with the following safety key: <span style="background-color:yellow;font-weight:400;">{{pdfPassword}}</span></p>
    <br>

    <span style="color:red;">Note:</span><br>
    <ul>
        <li> Please do not try to share this crendentials with anyone.</li>
        <li>Reset your password as soon as possible in the portal for security purpose.</li>
    </ul>

    <div style="font-family: Calibri,sans-serif; margin:6px;" >
        <p style="padding:8px;"> <span style="font-weight:bold">Regards,</span> <br> Admin Team </p>
        </div>
    
</body>
</html>